<br><br><br>
<!-- Categories Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
      <div class="col-lg-4 col-md-6 pb-1">
          <div class="cat-item d-flex flex-column  mb-4" style="padding: 30px; border: groove; border-width: 1px; border-color: #ab6f7c;">
              <p class="text-right">Men's dresses</p>
              <a  class="cat-img position-relative overflow-hidden mb-3">
                  <img class="img-fluid" src="/assets/img/M1.jpeg" alt="">
              </a>
              <button mat-raised-button style="background-color: #ab6f7c;" routerLink="/">Start Shopping Now</button>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
          <div class="cat-item d-flex flex-column  mb-4" style="padding: 30px; border: groove; border-width: 1px; border-color: #ab6f7c;">
            <p class="text-right">Women's dresses</p>
              <a  class="cat-img position-relative overflow-hidden mb-3">
                  <img class="img-fluid" src="/assets/img/W3.jpeg" alt="">
              </a>
              <button mat-raised-button style="background-color: #ab6f7c;" routerLink="/">Start Shopping Now</button>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
          <div class="cat-item d-flex flex-column  mb-4" style="padding: 30px; border: groove; border-width: 1px; border-color: #ab6f7c;">
            <p class="text-right">Kids dresses</p>
              <a  class="cat-img position-relative overflow-hidden mb-3">
                  <img class="img-fluid" src="/assets/img/K2.jpeg" alt="">
              </a>
              <button mat-raised-button style="background-color: #ab6f7c;" routerLink="/">Start Shopping Now</button>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
          <div class="cat-item d-flex flex-column  mb-4" style="padding: 30px; border: groove; border-width: 1px; border-color: #ab6f7c;">
            <p class="text-right">Accerssories</p>
              <a  class="cat-img position-relative overflow-hidden mb-3">
                  <img class="img-fluid" src="/assets/img/A1.jpeg" alt="">
              </a>
              <button mat-raised-button style="background-color: #ab6f7c;" routerLink="/">Start Shopping Now</button>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
          <div class="cat-item d-flex flex-column  mb-4" style="padding: 30px; border: groove; border-width: 1px; border-color: #ab6f7c;">
            <p class="text-right">Beauty</p>
              <a  class="cat-img position-relative overflow-hidden mb-3">
                  <img class="img-fluid" src="/assets/img/B1.jpeg" alt="">
              </a>

              <button mat-raised-button style="background-color: #ab6f7c;" routerLink="/">Start Shopping Now</button>
          </div>
      </div>
      <div  class="col-lg-4 col-md-6 pb-1">
          <div class="cat-item d-flex flex-column  mb-4" style="padding: 30px;border: groove; border-width: 1px; border-color: #ab6f7c;">
            <p class="text-right">Footwear</p>
              <a  class="cat-img position-relative overflow-hidden mb-3">
                  <img class="img-fluid" src="/assets/img/F4.jpeg" alt="">
              </a>
              <button mat-raised-button style="background-color: #ab6f7c;" routerLink="/">Start Shopping Now</button>
          </div>
      </div>
  </div>
</div>
<!-- Categories End -->
