
<div style="background-color: #ab6f7c; bottom: 0; ">
   <div class="mt-5 " style="padding-left: 100px; padding-right: 100px; padding-top: 50px; padding-bottom: 30px; ">
    <div class="row">
      <div class="col-3">
    <ul>
      <li><b>Online Shopping</b></li>
      <dl>
        <ul>
          <li>Men</li>
          <li>Women</li>
          <li>Kids</li>
          <li>Accessories</li>
          <li>Footwear</li>
          <li>Beauty</li>
        </ul>
      </dl>
    </ul>
  </div>
  <div class="col-3">
    <ul>
      <li><b>Facilities</b></li>
      <dl>
        <ul>
          <li>On time delivery</li>
          <li>100% original products</li>
          <li>24/7 customer support</li>
          <li>Exchange within 7 days</li>
          <li>14 Days return policy</li>
        </ul>
      </dl>
    </ul>
  </div>
  <div class="col-3">
    <ul>
      <li><b>Make Money With Us</b></li>
      <dl>
        <ul>
          <li>Sell on our website</li>
          <li>Protect and build your brand</li>
          <li>Advertise your Products</li>
        </ul>
      </dl>
    </ul>
  </div>
  <div class="col-3">

      <h3><b>Keep in touch</b></h3>


    <i style="font-size: 20px;" class="fa fa-facebook"></i>&nbsp;
    <i style="font-size: 20px;" class="fa fa-instagram"></i>&nbsp;
    <i style="font-size: 20px;" class="fa fa-twitter"></i>&nbsp;
    <i style="font-size: 20px;" class="fa fa-youtube"></i>
  </div>
</div>
   </div>
</div>
